services:
  webots:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        WEBOTS_DEFAULT_IMAGE: ${IMAGE}
        PROJECT_PATH: ${PROJECT_PATH}
        MAKE: ${MAKE}
    command: ${WEBOTS}
    deploy:
      resources:
        reservations:
          devices:
            - capabilities:
                - gpu
    environment:
      - DISPLAY=${DISPLAY:-:0}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    ports:
      - "${PORT}:${PORT}"
    stdin_open: true
    tty: true
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - /dev/dri:/dev/dri:rw
    networks:
      - logus2k_network

networks:
  logus2k_network:
    external: true
